.contact-form
{
    input[type="text"], textarea
    {
        display:block;
    }

    textarea
    {
        resize:none;
        width: 600px;
        height: 300px;

        @media #{$media-phone}
        {
            width: 100%;
            height: 200px;
        }
    }
}
