// Needed for sticky footer to work.

html, body
{
    height:100%;
    margin:0;
    padding:0;
}

// prevent images from going over parent bounds
img
{
    width:100%;
}

*
{
    box-sizing:border-box;
}

ol
{
    list-style: decimal;
}

ul
{
    list-style: disc;
}

ul, ol
{
    margin-left: 2em;
}
