form
{
}

label
{
    margin-top:$base-line-height;
}

input:not([type="checkbox"]),
textarea,
select
{
    display:block;
}

input[type="text"],
input[type="password"],
textarea
{
    padding: 0.5em;
    @include border-radius(10px);

    &:focus
    {
        border: #00f 2px solid;
        outline: none;
        @include border-radius(10px);
    }

    @media #{$media-phone}
    {
        padding: 0.5em 0;
        width: 100%;
    }
}

