form
{
}

label
{
    margin-top:$base-line-height;
}

input:not([type="checkbox"]),
textarea,
select
{
    display:block;
}

input:not([type="checkbox"]),
textarea
{
    padding: 0.5em;
    @include border-radius(10px);
}

input:focus
{
    border: #00f 2px solid;
    outline: none;
    @include border-radius(10px);
}
