.logo
{
    margin:35px 70px;
    width:300px;

    // Center logo on smaller displays
    @media screen and (max-width:$widthTabletMax)
    {
        display:block;
        margin:35px auto;
    }
}

