// See http://twitter.github.io/bootstrap/examples/sticky-footer.html

.l-footer-pusher
{
    min-height:100%;
    height:auto !important;
    height:100%;
    margin:0 auto -$heightFooter; // negative indent
}

.l-pusher, .l-footer
{
    height:$heightFooter;
}

@media (max-width: $widthTabletMax)
{
    .l-footer
    {
        margin-left:-20px;
        margin-right:-20px;
        padding-left:20px;
        padding-right:20px;
    }
}

.l-footer
{
    padding-top:1em;
    @include zen-grid-container;
}

.l-meta
{
    @include zen-grid-item(4, 1);
}

.l-footer-nav
{
    @include zen-grid-item(8, 5);
}
