@include establish-baseline($base-font-size);

html
{
    font-family:'Trebuchet MS', Helvetica, sans-serif;
}

p
{
    @include margin-leader(1);
}

h1
{
    @include adjust-font-size-to($base-font-size * 4);
}

h2
{
    @include adjust-font-size-to($base-font-size * 3.5);
}

h3
{
    @include adjust-font-size-to($base-font-size * 3);
}

h4
{
    @include adjust-font-size-to($base-font-size * 2.5);
}

h5
{
    @include adjust-font-size-to($base-font-size * 2);
}

h6
{
    @include adjust-font-size-to($base-font-size * 1.5);
}

.l-grid
{
    @include zen-grid-container;
}

.l-navbar
{
    @include zen-grid-item(12,1);
    padding:0; // respects original metrics
}

.l-brand-bar
{
    @include zen-clear();
    @include zen-nested-container();
    height:$base-line-height * 8;
}

.l-brand
{
    @include zen-grid-item(5, 1);

    @media screen and (max-width: $widthTabletMax)
    {
        @include zen-grid-item(12, 1);
    }
}

.l-large-nav
{
    @include zen-grid-item(6, 6);
}

// contains sidebar and content, but not footer.

.l-body
{
    margin-top:$base-line-height;
}

.l-sidebar
{
    @include zen-clear();
    @include zen-grid-item(4, 1);

    @media screen and (max-width: $widthTabletMax)
    {
        @include zen-clear();
        @include zen-grid-item(12,1);
    }
}

.l-content
{
    @include zen-grid-item(8, 5);
    
    @media screen and (max-width: $widthTabletMax)
    {
        @include zen-clear();
        @include zen-grid-item(12,1);
    }

    $zen-column-count: 4;
    @include zen-nested-container();
}

.l-full-row
{
    @include zen-clear();
    @include zen-grid-item(12,1);
}
