// W3C
@viewport
{
    width: device-width;
}

// IE10
@-ms-viewport
{
    width: device-width;
}

@mixin baseline($fontsize, $media)
{
    @media #{$media}
    {
        $base-font-size: $fontsize;
        $base-line-height: floor($fontsize * 1.618);
        @include establish-baseline($fontsize);

        p, li
        {
            @include margin-leader(1,$fontsize);
        }

        h1
        {
            @include adjust-font-size-to($fontsize * 3);
        }
        
        h2
        {
            @include adjust-font-size-to($fontsize * 2.5);
        }

        h3
        {
            @include adjust-font-size-to($fontsize * 2);
        }
    }
}

@include baseline($base-font-size, $media-desktop);
@include baseline(floor($base-font-size * 1.2), $media-tablet);
@include baseline(floor($base-font-size * 1.2), $media-phone);

body
{
    min-width:360px;
}

.l-grid
{
    $zen-column-count:12;
    @include zen-grid-container;
}

.l-full-row
{
    @include zen-clear();
    @include zen-grid-item(12,1);
}

.l-navbar
{
    @include zen-grid-item(12,1);
    padding:0; // respects original metrics
}

.l-brand-bar
{
    @include zen-clear();
    @include zen-nested-container();
    height:200px;
}

.l-brand
{
    @include zen-grid-item(5, 1);

    @media #{$media-tablet}
    {
        @include zen-grid-item(12, 1);
    }
}

.l-large-nav
{
    @include zen-grid-item(6, 6);
}

// contains sidebar and content, but not footer.

.l-body
{
    margin-top:1em;
}

.l-sidebar
{
    @include zen-clear();
    @include zen-grid-item(4, 1);

    @media #{$media-tablet}
    {
        @include zen-clear();
        @include zen-grid-item(12,1);
    }
}

.l-content
{
    @include zen-grid-item(8, 5);
    
    @media #{$media-tablet}
    {
        @include zen-clear();
        @include zen-grid-item(12,1);
    }

    padding-bottom: 1em;
    $zen-column-count: 4;
    @include zen-nested-container();
}
