// Common variables

$zen-column-count: 12;
$base-font-size: 16px;
$base-line-height: floor($base-font-size * 1.618);
$zen-gutter-width: $base-line-height;

// Media query metrics
$media-phone:   "only screen and (max-width: 480px)";
$media-tablet:  "only screen and (max-width: 970px)";
$media-desktop: "only screen and (min-width: 971px)";

$brand-bar-height: $base-line-height*8;

$legacy-support-for-ie7:false;
$legacy-support-for-ie6:false;
