// This file defines common variables that influence the site's
// entire appearance. All variables will be visible in all site styles

$height-footer:120px;

$base-font-size:14px;

// Media query metrics
$width-tablet-min:768px;
$width-tablet-max:979px;

$theme:"lbc";
