// Common variables

$gridColumnCount:12;
$gridGutterWidth:30px;

$heightFooter:120px;
$baseFontSize:14px;

// Media query metrics

$widthTabletMin:768px;
$widthTabletMax:979px;
$widthPhoneMax:767px;
