.admin-table
{
    & thead
    {
    }
    
    & tbody
    {
    }

    & tr
    {
    }

    & th, & td 
    {
        padding: 8px 12px;
    }

    & th
    {
        font-weight: bold;
        text-align: center;
    }

    & td
    {
    }
}
