.categories
{
    border:none;
    margin:0;

    & > li
    {
        border-bottom:1px solid;

        @media screen and (max-width: $widthTabletMax)
        {
            float:left;
            border: none;
        }
    }
}

