.featured-heading
{
    text-align: center;
}

.featured-list
{
    list-style:none;
    margin: 0;

    & > li
    {
        float:left;
        width: 25%;
        padding:0 4px 4px 0;
    }
}

.featured-item-thumbnail
{
}

.featured-item-name
{
    font-size: 1em;
    text-align: center;
}


