.featured-heading
{
    text-align: center;
}

.featured-list
{
    list-style: none;
    margin: 0;
    text-align: center;

    & > li
    {
        width: 23%;
        margin: 0.5em;
        display: inline-block;

        @media #{$media-phone}
        {
            width:300px;
            display: block;
            margin: 1em auto;
        }
    }
}

.featured-list-item-meta
{
    & a
    {
        $c: darken(#F99621, 10%);
        color: $c;
        text-decoration: none;
        padding-bottom: 3px;
        border-bottom: 1px solid $c;
    }
}

.featured-thumbnail
{
    display: block;
    margin:0 auto;
    height: 200px;
    background-position: center center;
    background-size: cover;
    @include border-radius(20px);
}

.featured-list-item-heading
{
    text-align:center;
    font-size: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

