$dim: 100px;

.product-list
{
    list-style: none;
    width: 100%;
    margin: 0;

    & > li
    {
        width: 100%;
        height: $dim;
        line-height: $dim;
        overflow: hidden;
        @include border-radius(20px);
        @include background-image(linear-gradient(#fff, #ddd));
    }
}

.product-list-thumbnail
{
    width:  $dim;
    height: $dim;
    float:  left;
    display: block;
}

.product-list-item-heading
{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    margin: 0 0 0 0.5em;
}
