$dim: 100px;

.product-list
{
    list-style: none;
    width: 100%;
    margin: 0;

    & > li
    {
        width: auto;
        float: left;
        height: $dim;
        overflow: hidden;
        padding: 0 8px 0 0;
        margin: 0 12px 12px 0;

        @media #{$media-phone}
        {
            padding: 0;
            margin: 4px;
            width: 100%;
            float: none;
        }
    }
}

.product-thumbnail
{
    @include  border-radius(20px);
    border:   1px #CCC solid;
    width:    $dim;
    height:   $dim;
    overflow: hidden;
    float:    left;
    display:  block;
    background-position: center center;
    background-size: cover;
}

.product-list-item-meta
{
    vertical-align: middle;
    height:$dim;
    display: inline-block;
    margin: 0 0 0 10px;

    & a
    {
        color: #F99621;
        text-decoration: none;

        &:visited
        {
            color: darken(#F99621, 30%);
        }
    }
}

.product-list-item-heading
{
    font-size: 1.5em;
}

.product-list-item-summary
{
    width: 100%;
    position: relative;
    left: 10px;
    margin: 0;
    display: block;

    
    @media #{$media-phone}
    {
        display: hidden;
    }
}

@media #{$media-tablet}
{
}

