.product
{
    $zen-column-count: 2;
    @include zen-nested-container();
}

@media #{$media-tablet}
{
    .product-display
    {
        @include zen-grid-item(2, 1);
    }

    .product-meta
    {
        @include zen-clear();
        @include zen-grid-item(2, 1);
    }
}

@media #{$media-desktop}
{
    .product-display
    {
        @include zen-grid-item(1, 1);
    }

    .product-meta
    {
        @include zen-grid-item(1, 2);
    }
}

.product-buy-button
{
    @include lbc-button(#F99621);
    display: inline-block;
}

.product-contact-button
{
    @include lbc-button(#EEEEEB);
    display: inline-block;
}

.product-name
{
    text-align: center;
}

.product-summary
{
    margin-top: 0;
    @include margin-trailer(1);
}

.product-attributes
{
    border: 2px solid #111;
    width: 100%;

    & tr
    {
        border-bottom: 1px solid #111;
    }

    & th
    {
        background: #222;
        color: #f99621;
        padding: 0 1em 0 1em;
        font-weight: bold;
    }

    & td
    {
        padding: 1em;
    }
}

.product-image
{
    @include border-radius(30px);
    display: block;
    margin: 0 auto;
    max-width: 500px;
}
