.large-nav
{
}

.large-nav-pic-link
{
    float:left;
    padding:rhythm(1.5) rhythm(1);
    height: $brand-bar-height;
    border-left-width:1px;
    border-left-style:solid;
    cursor:pointer;
    text-decoration:none;

    /* keeps border from overlapping logo
       on smaller browser widths. */

    &:first-child
    {
        border:none;
    }
}

.large-nav-icon
{
    margin:auto;
    display:block;
    margin-bottom:20px;
    width:62px;
}

.large-nav-icon-caption
{
}
