.navmenu
{
    list-style: none;
    height: 40px;
    margin-right: 1em;

    & > li
    {
        float: right;
        margin: $base-line-height 0 $base-line-height 2em;

        @media #{$media-phone}
        {
            margin: 0 0.5em 0 0;
            display: inline;
            float: none;
        }

        & > a
        {
            color: white;
            text-decoration: none;

            &:hover
            {
                text-decoration: underline;
            }
        }
    }

    @media #{$media-phone}
    {
        margin: 0.5em 0 0 0;
        text-align: center;
    }
}
