.navmenu
{
    list-style:none;
    height:$base-line-height * 2;
    margin-right:1em;

    & > li
    {
        float:right;
        margin:$base-line-height 0 $base-line-height 2em;

        & > a
        {
            color:white;
            text-decoration:none;

            &:hover
            {
                text-decoration:underline;
            }
        }
    }
}
