// 3rd party
// Use fancy-buttons ( color, font-size, border-radius, border-size )
@import "fancy-buttons";

$button-font-size: 1.2em;
$button-border-radius: 8px;
$button-border-size: 3px;

@mixin lbc-button($color)
{
    @include fancy-button(
            $color,
            $button-font-size,
            $button-border-radius,
            $button-border-size
        );

    text-align: center;
}

@mixin lbc-button-metric($width, $padding, $display: block)
{
    display: $display;
    width: $width;
    padding: $padding;
}

@import "data/index";
@import "decor/index";
@import "gui/index";
