.logo
{
    margin:20px 70px;
    width:300px;

    // Center logo on smaller displays
    @media screen and (max-width:$widthTabletMax)
    {
        display:block;
        margin:20px auto 20px auto;
    }
}

