.sidebar-widget .sidebar-widget-search
{
    box-sizing:border-box;
    margin:0;
    border:none;
    padding:$heightBaseline/2 1em;
    font:inherit; // prevent user agent interference
    width:100%;
}
