.banner
{

}

.banner-image
{
    z-index:-100;
}

.banner-caption-box
{
    margin-top:-155px;
    background-color:rgba(0,0,0,0.55);
    text-align:center;
    height:150px;
    position:relative;
    z-index:100;
}

.banner-caption
{
    font-size:4em;
    color:#F99621;
    font-weight:bold;
    padding-top:20px;
    line-height:1em;
}

.banner-subcaption
{
    color:white;
    font-size:1.5em;
    font-weight:normal;
}
