.categories
{
    list-style:none;
    border-width:1px;

    & > li
    {
        border-bottom-style:solid;
        border-bottom-color:#EDEDEA;

        @media screen and (max-width: $widthTabletMax)
        {
            border:none;
        }

        padding:($base-line-height/2) 1em (($base-line-height/2) - 1) 1em;

        a
        {
            text-decoration: none;
            color: #000;
        }
    }
}

