.inv-categories
{
    list-style:none;
    border-width:1px;

    & > li
    {
        font-size:1.2em;
        box-sizing:border-box;
        border-bottom-style:solid;
        border-bottom-color:#EDEDEA;
        padding:10px 20px;
    }
}

