.inv-categories
{
    list-style:none;
    border-width:1px;

    & > li
    {
        border-bottom-style:solid;
        border-bottom-color:#EDEDEA;
        padding:($heightBaseline/2) 1em (($heightBaseline/2) - 1) 1em;
    }
}

