@import "compass/css3/border-radius";

.thumbnails
{
    & > li
    {

    }
}

.thumbnail-caption
{
    background-color:#EDEDEA;
    text-align:center;
    margin:-5px auto 20px auto;
    height:50px;
    padding-top:15px;
    font-size:1.1em;
    @include border-radius(10px);
}
