@import "compass/typography/vertical_rhythm";
@import "compass/layout/grid-background";

$base-font-size:16px;

// new name used because Compass is aware of it
$base-line-height:$heightBaseline;

html > body
{
    font-family:'Trebuchet MS', Helvetica, sans-serif;
    line-height:$base-line-height;
    @include establish-baseline($base-font-size);
    @include baseline-grid-background($base-line-height, #FDD);
}

p
{
    margin:$base-line-height 0;
}

h1
{
    margin:0.1em 0 $base-line-height  0;
    font-size:2.5em;
}

h2
{
    margin:$base-line-height 0;
    font-size:2em;
}

h3
{
    font-size:1.7em;
}

h4
{
    font-size:1.5em;
}

h5
{
    font-size:1.3em;
}

h6
{
    font-size:1.1em;
}
